publisher/build
publisher/install
publisher/log

raspberry/host_redis_mirror/ bin
raspberry/host_redis_mirror/include
raspberry/host_redis_mirror/lib
raspberry/host_redis_mirror/lib64
raspberry/host_redis_mirror/pyvenv.cfg

rcp/bin
rcp/include
rcp/lib
rcp/lib64
rcp/pyvenv.cfg

__pycache__
